body {
    font-family: gill sans,sans-serif;
     margin: 0px;
}
header {
    position: relative;
    margin: 15px;
}
#recomendaciones {
    position: absolute;
    top: -22cm;
    left: 20cm;
}
#hr-recomendaciones {
    position: absolute;
    top: -21.8cm;
    left: 19.3cm;
    width: 300px;
    height: 50px;
    border: 2px solid #7aba96;
    border-radius: 5px;
}
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline;
}
nav {
    background-color: rgb(231, 231, 231);
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li a:hover {
    color: #7aba96;
    
}
nav a{
    text-decoration: none;
     color: black;
}

#img-delicias {
    display:block;
     margin:auto;
}

main{
    height: 26cm;
    width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}
#seccion-info {
    height: 320px;
    width: 300px;
    margin:auto;
    margin-left: 0px;
}
#texto-sobre-mi {
    margin-bottom: 20px;
}
#img-isagil {
    display:block;
    margin:auto;
    margin-bottom: 30px;
    width: 60%;
    height: auto;
}
#p-bienvenido {
    font-size:15px;
     color: gray;
}
#seccion-libro {
    margin: 0px;
    margin-bottom: 50px;
    height: 390px;
    width: 300px;
    background-color:whitesmoke;
}
#p-suscribete {
    margin-bottom: 0px;
    margin-top: -5px;
    font-size: 16px;
    position: relative;
}
#img-libro {
    height: 290px;
    width: auto;
}
#p-libro {
    font-size: 14px;
    position: relative;
    margin: 7px;
}
#seccion-apuntame {
    height: 19px;
    margin-top: 10px;
    border-bottom: 20px;
    width: 300px;
    background-color: rgb(122,186,150);
}
#secciones-recetas {
    position:relative;
    top: 0px; 
    height:auto;
    right: 0cm;
    width: 740px;
    margin-bottom: -300px;
}
#seccion-pasta {
    position: absolute;
    height: 740px;
    width: 387.5px;
    top: -20cm;
    right: -2cm;
}

#titulo-seccion {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#p-data-seccion {
    position: relative;
    margin: 0px;
}
#linea-superior {
    margin-bottom: 1px;
    height: 1px;
    background-color: #7aba96;
    border: none;
}
#linea-inferior {
    margin-top: 1px;
    height: 1px;
    background-color: #7aba96;
    border: none;
}
#seccion-galletas {
    position: absolute;
    height: 740px;
    width: 387.5px;
    top: -20cm;
    right: -15cm;
}
#seccion-mijo{
    position: absolute;
    height: 440px;
    width: 387.5px;
    top: -8cm;
    right: -2cm;
}
#seccion-calabacines{
    position: absolute;
    height: 440px;
    width: 387.5px;
    top: -8cm;
    right: -15cm;
}

footer{

    position:relative; 
    bottom: 0px; width: 100%; 
    height: 90px; 
    background-color: rgb(29, 29, 29)
}

#img-arriba {
    position: relative;
    height: 35%;
}

#img-abajo {
    position: relative;
    height: 60%;
}


#redes-footer{

    text-decoration: none; 
    color: rgb(255, 255, 255);
}
#redes-footer:hover {
    color: #7aba96;
}
