body {
    font-family: gill sans,sans-serif;
     margin: 0px;
}
header {
    position: relative;
    margin: 15px;
}
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline;
}
nav {
    background-color: rgb(231, 231, 231);
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li a:hover {
    color: #7aba96;
    
}
#texto-navegacio {
    position:relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline;
}
#texto-navegacio:hover {
    color: #7aba96;
}
nav a{
    text-decoration: none;
     color: black;
}

#img-delicias {
    display:block;
     margin:auto;
}

main{
    height: 26cm;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}
#seccion-info {
    height: 320px;
    width: 300px;
    margin:auto;
    margin-left: 0px;
}
#texto-sobre-mi {
    margin-bottom: 20px;
}
#img-isagil {
    display:block;
    margin:auto;
    margin-bottom: 30px;
    width: 60%;
    height: auto;
}
#p-bienvenido {
    font-size:15px;
     color: gray;
}
#seccion-libro {
    margin: 0px;
    margin-bottom: 50px;
    height: 390px;
    width: 300px;
    background-color:whitesmoke;
}
#p-suscribete {
    margin-bottom: 0px;
    margin-top: -5px;
    font-size: 16px;
    position: relative;
}
#img-libro {
    height: 290px;
    width: auto;
}
#p-libro {
    font-size: 14px;
    position: relative;
    margin: 7px;
}
#seccion-apuntame {
    height: 19px;
    margin-top: 10px;
    border-bottom: 20px;
    width: 300px;
    background-color: rgb(122,186,150);
}
#secciones-recetas {
    position:relative;
    height:auto;
    width: auto;
}

#titulo-seccion {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#titulo-seccion:hover {
    color: #7aba96;
}
#p-data-seccion {
    position: relative;
    margin: 0px;
}
#linea-superior {
    margin-bottom: 1px;
    height: 1px;
    background-color: #7aba96;
    border: none;
}
#linea-inferior {
    margin-top: 1px;
    height: 1px;
    background-color: #7aba96;
    border: none;
}
#seccion-pasta {
    position: absolute;
    height: 440px;
    width: 500px;
    right: 2cm;
    float: left;
}
#seccion-carne {
    position: absolute;
    height: 440px;
    width: 500px;
    right: 20.5cm;
    float: right;
}
#seccion-pescado{
    position: absolute;
    height: 440px;
    width: 500px;
    right: 20.5cm;
    top: 13cm;
    
}
#seccion-postres{
    position: absolute;
    height: 440px;
    width: 500px;
    top: 13cm;
    right: 2cm;
    float: right;
}

footer{

    position:relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -110px;
    width: 100%;
    height: 90px; 
    background-color: rgb(29, 29, 29)
}

#img-arriba {
    position: relative;
    height: 260px;
    width: 500px;
    border-radius: 5%;
}

#img-abajo {
    position: relative;
    height: 260px;
    width: 500px;
    border-radius: 5%;
}


#redes-footer{

    text-decoration: none; 
    color: rgb(255, 255, 255);
}
#redes-footer:hover {
    color: #7aba96;
}
#container {
    position: absolute;
    background-color:#7aba96;
    width: 1320px;
    height: 1000px;
    top: 0px;
    border-radius: 5%;
    opacity: 40%;
}